<div class="container-fluid">
    <div class="col">
        <div class="col-md-4 ">
            <form method="post" class="form-group">
                {%  for pergunta in perguntas %}
                    <div class="form-control">
                        <label for="pergunta">{{ pergunta.tituloPergunta }}</label>
                        {% for opcao in pergunta.opcoes %}
                            <div class="radio">
                                <label><input type="radio" name="pergunta_{{ pergunta.id }}" value="opcao_{{ opcao.id }}">{{ opcao.titulo }}</label>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Validar</button>
            </form>
        </div>
    </div>
</div>
